/* Phone */
body {
  margin: 0;
  font-family: sans-serif;
}

article {
  display: flex;
  flex-direction: column;
}

nav {
  background: #5995da;
  flex: 1 50px;
}

header {
  background: #b2d6ff;
}

main {
  background: #eaedf0;
  /* flex: 6 300px; */
  padding: 1rem;
}

#signup {
  background: #d6e9fe;
}

#feature-1 {
  background: #f5cf8e;
}

#feature-2 {
  background: #f09a9d;
}

#feature-3 {
  background: #c8c6fa;
}

header,
section {
  flex: 50vw;
  min-height: 200px;
}

header,
section,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* other devices */
@media screen and (min-width: 500px) and (max-width: 899px) {
  article {
    flex-flow: row wrap;
  }
  nav {
    flex: 100%;
    min-height: 50px;
  }
  section {
    height: 50vw;
  }
}

/* Computer screens */
@media screen and (min-width: 900px) {
  article {
    flex-flow: row wrap;
  }
  nav {
    flex: 100%;
    min-height: 50px;
  }
  .feature {
    flex: calc(100vw / 3);
    min-height: calc(100vh / 3 * 1.25);
  }
  #signup {
    order: 1;
    min-height: auto;
    height: 150px;
  }
  header {
    flex: 100vw;
    height: 25vw;
  }
  /* main {
    order: 2;
} */

}
